<h1>About This App/Webpage</h1>
<p>
	This app was built by students.  WHAT!!??!!  Yeah I know it's hard to believe, but its true.  In fact, most of them had no previous experience or training on the software used to build this before they started.  In fact many of them had no time to work on it because they were graduating and were supposed to be working on their thesis.  Despite their advisors recommendations of telling the professor to "just give them a B" they charged ahead and this website and app are the result of their efforts.  There is a lot left undone, but considering they only had about eight weeks, its still pretty exceptional.
</p>

