<h1>Contact</h1>
<p>
	If you absolutely positively have to contact someone about this app, be sure to include an offer cash or don't expect a response anytime soon.  If you want any further development to happen on this project you will need at least a $500,000 down payment and another payment of $500,000 upon completion.  You better hope that this takes off like facebook fool.
	<ol>
		<li>Scott Huchton:  Project Manager, <a mailto: IKnowEverything@applerocks.mac>IKnowEverything@applerocks.mac</a>
		<li>Gregory Cardwell: Lead Ruby/Rails designer, <a mailto:BabyIGotWhatYouNeed@ComeGetSome.me> BabyIGotWhatYouNeed@ComeGetSome.me </a>
		<li>Will Taff: Sub-executive-to-a-LT Rails coordinator,  <a mailto:IHavePeopleSkills@dammit.none>IHavePeopleSkills@dammit.none</a>
		<li>Daniel Good:  Rails Developer, <a mailto:ItsNotYouItsMe@SorryRobImTired.com>ItsNotYouItsMe@SorryRobImTired.com</a>
		<li>Luis Socias:  Rails Developer, <a mailto:IdRatherBeDrinking@fiveOclockSomewhere.08> IdRatherBeDrinking@fiveOclockSomewhere.08</a>
		<li>Kevin LaFrenier:  Lead Android Developer <a mailto:Android.ItsLikeAPhoneRight@HereWeGo.whoops> Android.ItsLikeAPhoneRight@HereWeGo.whoops</a>
		<li>Georgios Kakavelakis:  Android Developer/Foreign Sales <a mailto:GeorgeTheGreek@Athens.gr>GeorgeTheGreek@Athens.gr</a>
		<li>Christopher Rapin:  Website design/CSS, <a mailto:ImJustGladToBeHerePaddles@IWannaGoHome.now> ImJustGladToBeHerePaddles@IWannaGoHome.now </a>
				
	</ol>
</p>

 