<h1>Help!</h1>
<p>
	Yes Grasshopper, I can see you need help, that is why you are here after all.  Unfortunately those who might have helped you once have gone on to other things.  Most of them are trapped within the skin of a ship being berated by someone they thought was their friend about something they have no control over and that they care absolutely nothing about.  So, if you have a problem, and nobody else can help, and if you can find them... maybe you can hire the A-Team! 
</p>	
<p>
Just incase you can't find them, you can...	
</p>
<p>		 
  Get help on Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this Event App, see the
  <a href="http://smooth-moon-902.heroku.com/contact">Website</a>.
</p>
