<h1>Help</h1>
<p>
  Get help on Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this Event App, see the
  <a href="http://smooth-moon-902.heroku.com/contact">Website</a>.
</p>
