<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
<<<<<<< HEAD
      <li><a href="http://www.cnn.com">News</a></li>
=======
      <li><a href="http://www.CNN.com//">News</a></li>
>>>>>>> 1da8d7a94d3ae18b48b4fcf19c1c99845a399b16
    </ul>
  </nav>
</footer>
